@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: .1rem;
}

body {
  font-family: "Poppins", sans-serif;
  height: fit-content;
  width: 100%;
  background-color: #a7d9e0; /* Added to match your tile background */
}

a {
  text-decoration: none;
  font-style: normal;
  z-index: 102;
}

header {
  padding: 0 20px;
  background-color: transparent; /* Changed from #5CE1E6 to transparent */
  height: 64px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative; /* Added for z-index to work properly */
  z-index: 100; 
}

#brand {
  display: flex;
  align-items: center;
}

#brand img {
  height: 125px;
  position: relative;
  top: 50px;
  border-radius: 67px 67px 75px 75px;
  z-index: 101;
}

#brand a {
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  font-weight: 1000;
}

ul a {
  color: #333;
  font-weight: 600;
  position: relative;
}

ul a:hover {
  color: #5CE1E6;
}

ul a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #5CE1E6;
  transition: width 0.3s ease;
}

ul a:hover::after {
  width: 100%;
}

ul li {
  padding: top;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
}

#hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger div {
  width: 28px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px,6px);
}

.open bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding-top: 24px;
  height: 370px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: rgba(122, 154, 155, 0.98);
  z-index: 100;
  border-bottom: 1px solid black;
}

#hero-div {
  height: 900px;
  border-bottom: 1px solid black;
}

.tile {
  height: 200px;
  background-color: transparent; /* Changed from #EBFEFF to transparent */
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

#index-background {
  position: absolute;
  width: 3000px;
  filter: brightness(30%);
  opacity: 0.9;
  z-index: 1;
}

.content-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EBFEFF;
  z-index: -1; /* Place behind all content */
}

#hero-div h1 {
  font-size: 48px;
  margin-bottom: 4px;
  line-height: 110%;
}

#hero-div .hero {
  color: rgb(226, 226, 226);
  z-index: 2;
  margin-top: 32px;
}

#hero-div a {
  margin: -10px;
  cursor: pointer;
}

#hero-div button {
  background-color: #71a6ad;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 1000;
  text-transform: uppercase;
  margin-bottom: 80px;

}

#tour {
  display: flex;
  background:#63a6ad;
  padding: 30px 5%;
  flex: 1 1 auto;
  gap: 5%;
  flex-wrap: wrap;
  flex-basis: 10%
}

#tour a {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  padding: 0;
  flex-basis: 20%;
}

.small-tile {
  background:white;
  border-radius: 50px;
  box-shadow: black 0px 0px 15px;
  border: none;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin: 20px 0;
  min-height: 150px;
  min-width: 200px;
  max-width: 80%;
}

.small-tile h2 {
  color: #48c06c;
  font-weight: 600;
}

h2 {
  color: white;
  text-align: center;
  z-index: 2;
  line-height: 150%;
  text-transform: uppercase;
}

#hero-div h2 {
  margin-bottom: 16px;
}

/* copied from old stylesheet needs work */

#non-home-page {
  background-color: black;
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(./images/sprinkles.jpg);
  background-position: center;
  background-size: 1080px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
  min-height: 800px;
}

#non-home-page .title {
    text-align: center;
    font-size: 3.5em;
    color: #48c06c;
    font-weight: 600;
    padding: 0 40px;
    margin: 40px auto 10px auto;
    background-color: white;
    border-radius: 7.5px;
    box-shadow: black 0 0 10px;
    height: fit-content;
    max-width: 80%;
}

.faq {
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  background-color: white;
  padding: 16px 40px;
  border-radius: 7.5px;
  color: #48c06c;
  box-shadow: black 0px 0px 15px;
}

.question {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  gap: 16px;
}

.question h3 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 600;
}

.answer {
  max-height: 0;
  overflow: hidden;
  color: black;
  transition: max-height margin-top margin-bottom 1.2s ease;
  }

.answer p {
  line-height: 1.3;
  font-size: 1.2rem;
  margin: 0;
}

.faq.active .answer {
  max-height: 100%;
  animation: fade 1.2s ease-in-out;
  margin-top: 32px;
  margin-bottom: 20px;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.1s ease-in;
  flex-shrink: 0;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.answer a {
  font-style: italic;
  font-size: 1rem;
}

.answer h4 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: -16px;
  
}

#menu-landscape {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#menu-portrait {
  display: none;
}

@media only screen and (max-width: 800px) {
  header nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #menu-landscape {
    display: none
  }

  #hero-div img {
    right: -800px;
  }

  #menu-portrait {
    display: flex;
  }
}

#order-form {
  height: 3600px;
  overflow: visible;
  padding-top: 40px;
}

.menu-img {
  border-radius: 7.5px;
  box-shadow: black 0 0 15px;
  margin: 40px 5%;
}

.about-page {
  padding-top: 40px;
}

.about-page p {
  padding: 0 10% 30px 10%;
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.about-page .faq {
  padding: 16px 16px;
  cursor: default;
}

.about-page h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #48c06c;
  margin-top: 10px;
}

.orange {
  color: #F86E29;
}

#funpack {
    font-size: 3em;
    color: #48c06c;
    font-weight: 1000;
    margin: 20px auto 20px auto;
    background-color: white;
    border-radius: 7.5px;
    text-align: center;
}

.order-heading {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
}

.order-section {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

h5 {
  position: absolute;
  top: 72px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  background-color:rgba(92, 225, 230, 0.6);
  padding: 0 16px;
}

#order-plan {
  margin: 50px auto 30px auto;
  font-weight: 500;
}

#socials-order {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  gap: 30%;
  margin: 0 auto 20px auto;
}

#socials-index {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 20px auto 100px auto;
  gap: 80px;
  z-index: 102;
  height: 10px;
}

.fa {
  padding: 20px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #48c06c;
  color: white;
  z-index: 2;
  height: 55px;
}

.fa:hover {
  opacity: 0.7;
}

#socials-section {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 0;
  justify-content: space-around;
}

#caricature {
  width: 100%;
  padding: 20px 10%;
  border-radius: 50%;
}

#our-story {
  margin-bottom: 20px;
  font-weight: 600;
}

.our-story-div p {
  font-weight: 400;
}

#socials-index li {
  margin: 0;
}

/*

          NEW MENU PAGE
                                  */

.menu-div {
  padding: 40px 5%;
  text-align: center;
  background-size: 100%;
  background-position: 0, 100px;
}

#menu-body .disclaimer {
  border: solid 1px black;
  padding: 16px 32px;
  background: white;
  border-radius: 0;
}

.menu-div ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: 90%;
  margin: 0 auto;
}

.scoop-options li {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-basis: 20%;
  align-items: center;
  gap: 8px;
  background:rgba(92, 225, 230, .95);
  color: black;
  padding-right: 8px;
  box-shadow: black 0px 0px 15px;
  min-height: 70px;
  margin-bottom: 16px;
  font-weight: 500;
  border: solid 1px black;
}

.scoop-options div {
  background: white;
  color: black;
  padding: 8px 16px;
  border-radius: 5px 0 0 5px;
  flex-basis: 90%;
  height: 70px;
  align-items: center;
}

.img-bg {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.4)), url("images/ice-cream-scoop.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: 0;
}

@media(max-width: 600px) {
  .img-bg {
    background-size: 200%;
  }
  #scoop-bg {
    background-position-x: -100px;
  }
}

#scoop-bg {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.4)), url("images/ice-cream-scoop.jpg");
}

#add-sprinkles-bg {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.4)), url("images/adding-sprinkles.jpg");
}

.scoop-options .text-on-photo {
  flex: 1 0 100%;
  justify-content: center;
  padding: 32px 48px;
  margin: 32px auto 0 auto;
  max-width: 90%;
  font-weight: 500;
}

.cyan-bg {
  background: rgba(92, 225, 230, 1);
}

.menu-div h2 {
  background: white;
  color: #33914f;
  padding: 8px 16px;
  box-shadow: black 0 0 15px;
  width: fit-content;
  margin: 0 auto 48px auto;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  border: solid 1px black;
  padding: 16px 32px;
}

#need-center {
  padding-top: 22px;
}

#to-go-div li {
  flex-grow: 1;
}

@media(min-width: 800px) {
  #need-center-desktop {
    padding-top: 22px;
  }
}

#need-center-all {
  padding-top: 22px;
}

#long-h2 {
  margin-top: 48px;
}

.white-bg {
  background: white;
}

hr {
  margin: 40px auto;
  width: 80%;
}

#menu {
  padding: 50px 15%;
}

.menu-title {
  color: black;
  font-size: 2rem;
}

#menu ul {
  background-color: rgb(225, 225, 225);
  border-radius: 30px;
  flex-direction: column;
  border: solid 1px black;
  width: 100%;
  margin: 25px auto;
  padding: 15px;
}

#menu li {
  text-align: center;
}

.super {
  vertical-align: super;
  font-size: .65rem;
}

.accent {
  font-size: .85rem;
  font-style: italic;
}

#nnnmenu {
  padding: 100px 5%;
  width: 100%;
}