body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'Cheque-Regular';
  src: url('https://nononutsicecream.com/fonts/Cheque/Commercial/OTF/Cheque-Regular.otf')
}

header {
    background-color: #EBFEFF;
    color: #0CC0DF;
    padding: 32px 20px 16px 20px;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .logo-link img {
    height: 100px;
    width: auto;
    border-radius: 50%;
  }
  
  nav {
    justify-content: center;
    margin-top: -16px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin-right: 30px;
    margin-bottom: 8px;
    padding: 4px 8px;
    border: solid 2px #0CC0DF;;
    border-radius: 5px;
    
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #0CC0DF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #5CE1E6;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    margin-top: -16px;
  }
  
  .contact-info p {
    margin: 0;
    padding: 0;
  }
  
  .contact-info p:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #about {
    background: url("./images/ice-cream-shop.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 5% 0;
  }
  
  .about-container {
    background-color: white;
    text-align: center;
    padding: 8px;
    padding-bottom: 64px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

  }

  .section-title {
    font-size: 3.5em;
    font-weight: 901;
    margin: 16px auto;
    width: 80%;
    color: #48c06c;
    border-radius: 7.5px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .section-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: -8px;
    max-width: 85%;
    justify-content: center;
    color: black;
   }

   .slogan-list {
    padding: 0 24px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
    color: #0CC0DF;
   }

   .sub-list {
    padding: 0;
   }

   .no {
    font-size: 24px;
    width: 50%;
    padding-bottom: 16px;
    font-weight: bold;
   }
  
  .values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 48px;
    padding: 32px 10%; 
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }
  
  .values-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .caption-container {
    text-align: center;
    max-width: 60%;
    color: black;
    padding: 0px 24px;
    border-radius: 7.5px;
    
  }
  
  .caption-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #349edb;
    font-weight: 901;
  }
  
  .caption {
    font-size: 16px;
    margin: 8px 0 0 0;
  }
  
  .values-item img {
    width: 30%;
    height: 150px;
    border-radius: 10px;
  }

  #order-form {
    width: 85%;
    height: 3160px;
    display: block;
    margin: auto;
    margin-top: -16px;
  }

  .title {
    text-align: center;
    font-size: 4em;
    color: #48c06c;
    font-weight: 1000;
    margin-bottom: 0px;
  }

  .background-div {
    background: url("./images/ice-cream-shop.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 50px 50px;
  }

  .menu {
    background-color: white;
    padding: 32px 48px;
    border-radius: 25px;
    text-align: center;
  }

  .subtitle {
    color:#349edb;
    font-size: 2em;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  ul {
    list-style-type: none;
  }

  .option-section {
    display: flex;
    flex-wrap: wrap;
  }

  .option-title {
    color: #48c06c;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 6px;
  }

  .option-option {
    font-weight: 500;
  }
 
  .menu-pic {
    display: block;
    margin: 48px auto;
    border-radius: 10px;
  }

  .nest {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .important {
    text-decoration: underline;
  }



  .faq-title {
    font-size: 2.5em;
    color: #48c06c;
    max-width: 85%;
    font-weight: 900;
    margin-bottom: 0;
    border: 3px solid #48c06c;
    padding: 8px 32px;
    border-radius: 5px;
  }

  .faq-div {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
  }

  .faq-q {
    font-size: 1.75em;
    color: #349edb;
    max-width: 85%;
    font-weight: 750;
    margin-bottom: 0px;
  }
  .faq-a {
    font-size: 1.25em;
    color: black;
    max-width: 85%;
    margin-bottom: 32px;
  }

  .our-story {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 16px;
    color: #349edb;
  }

  .sizes {
    width: 100%;
  }

  /* Everything after is part of remodel */

  .body-new {
    background: url("./images/ice-cream-shop.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 5% 0;
  }

  .main {
    background: white;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 5px;
    padding: 48px 0;
  }

  .title-new {
      text-align: center;
      font-size: 4em;
      color: #48c06c;
      font-weight: 1000;
      padding: 48px 0px 16spx 0px;
      margin: 0 auto;
  }

  .faq {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .faq .first {
    border-top: 2px solid black;
    padding-top: 40px;
  }

  .question h3 {
    font-size: 1.6rem;
    margin: 0;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height margin-top 1.4s ease;
    }

  .answer p {
    line-height: 1.3;
    font-size: 1.2rem;
    margin: 0;
  }

  .faq.active .answer {
    max-height: 100%;
    animation: fade 1s ease-in-out;
    margin-top: 32px;
  }

  .faq.active svg {
    transform: rotate(180deg);
  }

  svg {
    transition: transform .5s ease-in;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }

  a {
    font-style: italic;
    font-size: 1rem;
  }

  .answer h4 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: -16px;
    
  }