body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #EBFEFF;
    color: #0CC0DF;
    padding: 20px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .logo-link img {
    height: 100px;
    width: auto;
    border-radius: 50%;
  }
  
  nav {
    justify-content: center;
    margin-top: -16px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 30px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #0CC0DF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #5CE1E6;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    margin-top: -16px;
  }
  
  .contact-info p {
    margin: 0;
    padding: 0;
  }
  
  .contact-info p:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #about {
    background: url("./images/ice-cream-shop.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 100px 50px;
  }
  
  .about-container {
    background-color: rgba(12, 192, 223, 0.8);
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .section-title {
    font-size: 60px;
    font-weight: 901;
    margin-top: 16px;
    margin-bottom: 50px;
    width: 80%;
    color: #0CC0DF;
    background-color: #EBFEFF;
    border-radius: 7.5px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .section-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    max-width: 85%;
    justify-content: center;
  }
  
  .values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 48px;
    padding: 32px 10%; 
  }
  
  .values-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .caption-container {
    text-align: center;
    max-width: 60%;
    color: black;
    background-color: #DAFDFF;
    padding: 40px 24px;
    border-radius: 7.5px;
    
  }
  
  .caption-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #F86E29;
    font-weight: 901;
  }
  
  .caption {
    font-size: 16px;
    margin: 8px 0 0 0;
  }
  
  .values-item img {
    width: 30%;
    height: 150px;
    border-radius: 10px;
  }

  #order-form {
    width: 640px;
    height: 3160px;
    display: block;
    margin: auto;
  }